@(responder:Responder)

@main("Mock Server") {
<div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="span4">
            <h2>Responder : @responder.name</h2>
            <dl class="dl-horizontal">
                <h6>DETAILS</h6>
            <dt>Body</dt>
            <dd>@responder.body</dd>
            <dt>Response Code</dt>
            <dd>@responder.responseCode</dd>
            <dt>URL</dt>
            <dd><a href=@responder.absoluteUrl>@responder.absoluteUrl</a></dd>
                @if(!responder.headers.isEmpty){
                <h6>HEADERS</h6>
                    @responder.headers.map { header =>
                    <dt>@header._1</dt><dd>@header._2</dd>
                    }
                }
            </dl>
         </div>
        <div class="span8">
            <h2>Log</h2>
            <div id="messages"></div>

            <script type="text/javascript" charset="utf-8">
                //            var message = function(msg) {
                //                $('#messages').prepend('<p>' + msg.message + '</p>')
                //            }
            </script>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <div class="well">
                <h2>Actions</h2>
                <p><a class="btn btn-primary" href="@routes.Responders.edit(responder.name)">Edit Da Responder Wot Responds</a></p>
                <p><a class="btn btn-primary" href="@routes.Transformers.getTransformer(responder.name)">Edit Transformers for this guy</a></p>
            </div>
        </div>
    </div>

    <iframe src="@routes.Responders.stream(responder.name)" style="display:none"></iframe>
}
<script src="@routes.Assets.at("javascripts/logger.js")" type="text/javascript"></script>
