@(responder:Responder)

@main("Mock Server") {
    <div class="row span12">
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>@responder.name</dd>
            <dt>Body</dt>
            <dd>@responder.body</dd>
         </dl>

        @if(!responder.headers.isEmpty){
            <h6>Headers</h6>
            <ul>
            @responder.headers.map { header =>
                <li><span>@header._1</span> -> <span>@header._2</span></li>
            }
            </ul>
        }
    </div>
    <div class="row">
        <h2>Log</h2>
        <div id="messages" class="span12"></div>

        <script type="text/javascript" charset="utf-8">
            var message = function(msg) {
                $('#messages').append('<p>' + msg + '</p>')
            }
        </script>
    </div>

    <iframe src="@routes.Responders.stream(responder.name)" style="display:none"></iframe>
}
