@(transformerJson:String,responderName:String)

@main("Mock Server") {
    <head>
        <script src="@routes.Assets.at("javascripts/transformer.js")" type="text/javascript"></script>
    </head>
    <div class="row">
        <div class="span12">
            <div class="alert alert-success close-button" id="success" style="display:none;">Save/Update Successful
                <button type="button" class="close">×</button>
            </div>
            <div class="alert alert-error close-button" id="error" style="display:none;">Save/Update Failed
                <button type="button" class="close">×</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <form class="well form-inline">
                <h2>Query Param Substitution</h2>
                <div class = "alert alert-info">
                    <strong>Help:</strong> specify a token string in your response body that will be replaced by a named query parameter's value from the request.
                </div>
                <ul id="rule"></ul>
                <input id="token" type="text" value placeholder="token name" class="input-small">
                <input id="queryParamName" type="text" value placeholder="query parameter name" class="input-small">
                <a class="btn btn-success" id="set">Add Rule</a>
            </form>
        </div>
        <div class="span4">
            <form class="well form-inline">
                <h2>Header Substitution</h2>
                <div class = "alert alert-info">
                    <strong>Help:</strong> specify a token string in your response body that will be replaced by a named header's value from the request.
                </div>
                <ul id="headerRule"></ul>
                <input id="headerToken" type="text" value placeholder="token name" class="input-small">
                <input id="headerParamName" type="text" value placeholder="header name" class="input-small">
                <a class="btn btn-success" id="setHeader">Put Rule</a>
            </form>
        </div>
        <div class="span4">
            <form class="well form-inline">
                <h2>Cookie Substitution</h2>
                <div class = "alert alert-info">
                        <strong>Help:</strong> specify a token string in your response body that will be replaced by a named cookie's value from the request.
                </div>
                <ul id="cookieRule"></ul>
                <input id="cookieToken" type="text" value placeholder="token name" class="input-small">
                <input id="cookieName" type="text" value placeholder="cookie name" class="input-small">
                <a class="btn btn-success" id="setCookie">Put Rule</a>
            </form>
         </div>
     </div>
    <div class="row">
        <div class="span12">
            <div class="form-actions">
                <a class="btn btn-inverse" href="@routes.Responders.show(responderName)">Back to the responder</a>

                <a class="btn btn-success" id="update">Save/Update</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">window.transformer(@Html(transformerJson),"@responderName")</script>
}
